<div class="help-box window">
  <h4>您总是可以通过ESC按键退出帮助,alt+h 打开帮助</h4>
  
  <span>enter ： 编辑当前todo</span><br />
  <span>ctrl+enter ： 在当前位置创建新的todo</span><br /> 
  <span>ctrl+alt+enter ： 在当前位置下方创建新的todo</span><br /> 
  <span>up/down ： 选择上/下一个todo</span><br />
  <span>space ： 把当前todo设置为完成/未完成</span><br />
  
  <span>ctrl+left(right) : 转到上(下)一个目录</span><br />
  <span>ctrl+down : 打开选择分组菜单(up/down 选择,enter 确认)</span><br />
  <span>alt+up ： 把当前todo和上一个交换</span> <br />
  <span>alt+down ： 把当前todo和下一个交换</span><br />
  
  <span>alt+r ： 清除所有完成的todo</span><br />
  <span>alt+c ： 将所有完成的todo移动到底端</span><br />

  <span>alt+s ： 手动同步(系统目前仅会在打开的时候同步一次)</span><br />
  
</div>
