<div id="todo-list-header" class="header">
  <div class="icon-arrow-left" data-id="previousFolderButton"> 
  </div>
  <div id="folder">
    <div id="folder-name" data-id="folderName">
      <i class="icon-folder-open"></i>
      <span data-id="folderName">FolderName</span>
    </div>
  </div>
  <div class="icon-arrow-right" data-id="nextFolderButton">
  </div>
  <div id="folder-list" data-id="folderList">
    <div class="container" data-id="folderListContainer">
    </div>
    <div class="create folder-list-item" data-id="create">
      <div data-id="createText"> 
	<i class="icon-plus"> </i> CREATE FOLDER
      </div>
      <input type="text" class="folder-name-input" data-id="folderNameInput"/>
    </div>
  </div>
</div>
